/* Error: Undefined variable.
 *    ,
 * 27 |   transition: opacity $transition;
 *    |                       ^^^^^^^^^^^
 *    '
 *   src/scss/foundation/_reset.scss 27:23  @use
 *   src/scss/style.scss 2:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 27 \2502    transition: opacity $transition;\a    \2502                        ^^^^^^^^^^^\a    \2575 \a   src/scss/foundation/_reset.scss 27:23  @use\a   src/scss/style.scss 2:1                root stylesheet";
}
