@use '../../foundation/variable' as v;

.c-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  min-width: 277px;
  min-height: 62px;
  padding: 22px 23px;
  border: 1px solid v.$color-black;
  background-color: transparent;
  color: v.$color-black;
  font-family: v.$font-vigo;
  font-size: 20px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;


  @media screen and (max-width: v.$bp-sp) {
    padding: 16px;
    font-size: 16px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('/images/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: v.$bp-sp) {
      width: 16px;
      height: 16px;
      right: 16px;
    }
  }

  &:hover {
    background-color: v.$color-black;
    color: v.$color-white;
    opacity: 1;

    &::after {
      background-image: url('/images/arrow-white.svg');
    }
  }
}