@use '../foundation/variable' as v;

.l-footer {
  background-color: v.$color-white;

  // CTAエリア
  &__cta {
    position: relative;
    min-height: 489px;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('/images/cta.jpg');
      background-size: cover;
      background-position: center;
      z-index: 0;

      @media screen and (max-width: v.$bp-tb-max) {
        background-image: url('/images/cta-sp.jpg');
      }
    }

    @media screen and (max-width: v.$bp-tb-max) {
      min-height: 250px;
      overflow: visible;
    }
  }

  &__cta-inner {
    position: absolute;
    bottom: -138px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: calc(100% - 80px);
    max-width: 956px;
    background-color: v.$color-white;
    border-radius: 20px;
    padding: 50px 40px 51px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media screen and (max-width: v.$bp-tb-max) {
      position: absolute;
      bottom: -120px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 32px);
      padding: 24px 20px 29px;
      gap: 24px;
    }
  }

  &__cta-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: v.$color-black;

    @media screen and (max-width: v.$bp-tb-max) {
      font-size: 14px;
      line-height: 2.5;
    }
  }

  &__cta-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 556px;
    background-color: v.$color-gold-light;
    color: v.$color-black;
    font-family: v.$font-vigo;
    font-size: 16px;
    font-weight: 700;
    transition: opacity 0.3s ease;
    padding: 21px;

    &::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url('/images/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: 0.8;
      background-color: v.$color-gold;
    }

    @media screen and (max-width: v.$bp-tb-max) {
      width: 200px;
      height: 54px;
      max-width: none;
      padding: 0;
    }
  }

  &__cta-btn-arrow {
    display: none;
  }

  // フッターカード
  &__card {
    padding: 0px 40px 40px;
    @media screen and (max-width: v.$bp-tb-max) {
      padding: 0px;
    }
  }

  &__card-inner {
    max-width: 1312px;
    margin-inline: auto;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    background-color: v.$color-beige;

    @media screen and (max-width: v.$bp-tb-max) {
      padding-top: 92px;
      border-radius: 0;
    }
  }

  // ボディ
  &__body {
    padding: 198px 80px 0;

    @media screen and (max-width: v.$bp-tb-max) {
      padding: 40px 24px 0;
    }
  }

  &__body-inner {
    max-width: 956px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 56px;
    display: flex;
    align-items: flex-start;
    gap: 109px;

    @media screen and (max-width: v.$bp-tb-max) {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }

  &__logo-wrap {
    flex-shrink: 0;

    &--pc {
      display: block;

      @media screen and (max-width: v.$bp-tb-max) {
        display: none;
      }
    }

    &--sp {
      display: none;
      margin-bottom: 20px;
      text-align: center;
      order: 2;

      @media screen and (max-width: v.$bp-tb-max) {
        display: block;
        order: 2;
        padding-top: 3px;
        margin-bottom: 23px;
      }
    }
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: 250px;

    img {
      width: 100%;
    }
  }

  // ナビ
  &__nav {
    flex: 1;
    padding-top: 21px;

    @media screen and (max-width: v.$bp-tb-max) {
      width: 100%;
      padding-top: 38px;
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 22px;

    @media screen and (max-width: v.$bp-tb-max) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  

  &__nav-link {
    font-size: 16px;
    font-weight: bold;
    color: v.$color-black;
    transition: opacity 0.3s ease;

    @media screen and (max-width: v.$bp-tb-max) {
      display: block;
      font-size: 14px;
      line-height: 1;
      text-align: center;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  // ボトムバー
  &__bottom {
    padding-bottom: 59px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: v.$bp-tb-max) {
      padding: 0px 24px 40px;
    }
  }

  &__bottom-inner {
    max-width: 956px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: v.$bp-tb-max) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
  }

  &__copyright {
    font-size: 12px;
    font-family: v.$font-vigo;
    color: v.$color-black;
    opacity: 0.6;
    order: 1;

    @media screen and (max-width: v.$bp-tb-max) {
      order: 3;
      text-align: center;
    }
  }

  // SNS
  &__sns {
    display: flex;
    align-items: center;
    gap: 16px;
    order: 2;

    @media screen and (max-width: v.$bp-tb-max) {
      order: 1;
    }
  }

  &__sns-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;

    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
